body {
  margin: 0;
}

.navTitle {
  color: #0290ff;
  font-family: Montserrat;
  font-size: 2.2rem;
  font-weight: bolder;
}

.navBooks {
  font-family: Montserrat;
  font-size: 1.5rem;
  color: #121212;
  font-weight: bold;
}

.navCategories {
  font-family: Montserrat;
  font-size: 1.5rem;
  color: #121212;
}

.navIcon {
  color: #0290ff;
  font-size: 2rem;
}

